[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybullet = "*"
numpy = "*"
gym = "*"
stable-baselines3 = "*"
shimmy = "*"
wandb = "*"
tensorboard = "*"
moviepy = "*"
imageio = "*"

[dev-packages]

[requires]
python_version = "3.10"
